.visaList{
	// background: red;
	padding-left: 313px;
	min-width: 596px;
	margin-top: 96px;
	padding-right: 20px;
	.addPerson{
		width: 90px;
		height: 34px;
		background: #188EEE;
		color:#fff;
		font-size: 14px;
		text-align: center;
		line-height: 34px;
		border-radius: 2px;
		margin-bottom: 20px;
		cursor: pointer;
	}
	.title{
		background: #fff;
		width:96%;
		height: 50px;
		line-height: 50px;
		margin-bottom: 16px;
		margin-top: 19px;
		padding-left: 19px;
		padding-right: 11px;
		font-size: 16px;
		color: #333;
		box-shadow: 2px 2px 1px #D8D8D8;
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.txtBorder{
			width: 3px;
			height: 16px;
			background: #188EEE;
		}
	}
	.contList{
		background: #fff;
		width:96%;
		padding: 36px 15px;
		box-shadow: 2px 2px 1px #D8D8D8;
		table{
			width:100%;
			border-color: #efefef;
			border-collapse:collapse;
			tr{
				text-align: center;
				height: 37px;
			}
			tr:nth-child(odd){
				background: #F7F7F7;
			}
			th{
				font-size: 14px;
				color:#949494;
			}
			td{
				font-size: 14px;
				color:#333333;
			}
			td.link{
				color: #188EEE;
				text-decoration: underline;
			}
			td.link:hover{
				cursor: pointer;
			}
		}
	}
}

@media screen and(max-width: 1200px){
	.visaList{
		padding-left: 284px;
	}
}
