.newZealand{
	.cailiao{
		color: #3D4F60;
		padding-bottom: 20px;
		.tip{
		    padding: 12px 0;
		    margin-top: 10px;
		    margin-right: 10px;
			.titleTxt{
				font-weight: bold;
				font-size: 14px;
				color: #3D4F60;

			}
		}
		.col_1{
			padding-left: 20px;
			.personInfo{
				font-size: 14px;
				color: #3d4f60;
				margin: 12px 0;
			    font-weight: 700;
			}
			.personList{
				margin-bottom: 20px;

				.list1{
					// background-color: #f5f6fa;
				    // border: 1px solid #e1e6eb;
				    border-top-right-radius: 4px;
				    border-top-left-radius: 4px;
				    margin-right: 20px;
				    table{
						font-size: 14px;
						width: 100%;
						border-collapse:collapse;
						// max-width:950px;
						text-align: center;
						border-color: #efefef;
						background: #fff;
						tr{
							text-align: center;
							height: 37px;
						}
						tr:nth-child(odd){
							background: #F7F7F7;
						}
						th{
							font-size: 14px;
							color:#949494;
						}
						td{
							font-size: 14px;
							color:#333333;
						}
						.blueFont{
							color: #188EEE;
							cursor: pointer;
						}
				    }
				    .redFont{
				    	color: #CC1F36;
				    	cursor: pointer;
				    }
				    .nothingA{
						color:#3D4F60!important;
					}
				}

				.list2{
					border-top-right-radius: 0px;
				    border-top-left-radius: 0px;
				    border-bottom-right-radius: 4px;
				    border-bottom-left-radius: 4px;
				    border-top: 0;
				    overflow: hidden;

				}
			}
		}
	}
}
