.credentials{

	.credentialsList{
		font-size: 14px;
		color: #3D4F60;
		.titleTxt{
			margin: 0px 0;
			font-weight: bold;
		}
		.materialList{
			margin-bottom: 20px;
			padding: 20px;
			table{
				width: 100%;
				border-color: #efefef;
				border-collapse:collapse;
				tr{
					text-align: center;
					height: 37px;
				}
				tr:nth-child(odd){
					background: #F7F7F7;
				}
				th{
					font-size: 14px;
					color:#949494;
				}
				td{
					font-size: 14px;
					color:#333333;
				}
				.link{
					color: #188EEE;
					cursor: pointer;
				}
			}
			.redColor{
				color: #CC1F36;
				cursor: pointer;
			}


		}

	}
}
