.editInfo{
	width: 554px;
	height: 268px;
	
	.title{
		text-align: center;
		padding: 18px 15px 0 ;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		.center{
			font-size: 16px;
			color: #323232;
			font-weight: bold;
		}
		.cancel{
			float:right;
			font-size: 20px;
			width: 16px;
			height: 16px;
			cursor: pointer;
		}
	}
	.cont{
		padding-left: 60px;
		margin-top: 30px;
		.info{
			margin-bottom: 33px;
			// display: inline-block;

			.key{
				display: inline-block;
				width: 70px;
				margin-right: 28px;
				font-size: 14px;
				color: #333333;
				text-align: right;
			}
			.value{
				display: inline-block;
				border:1px solid #efefef;
				height: 34px;
				width: 260px;
				padding-left: 10px;
			}
			form{
				display: inline-block;
				label{
					margin-right: 33px;
					font-size: 14px;
				}
			}
		}
	}
	.btnGroup{
		margin-left: 153px;
		.btn1{
			display: inline-block;
			width: 88px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			background: #188EEE;
			color: #fff;
			border-radius: 2px;
			cursor: pointer;
		}
		.btn1:nth-child(2){
			background: #fff;
			border:1px solid #ccc;
			color: #333;
			margin-left: 12px;
		}
	}
}